<!-- src/main/resources/templates/pages/about-us.html -->
<div th:fragment="about-us">
    <div class="container-lg">
        <div class="d-flex flex-column align-items-center justify-content-center border py-3 px-4 bg-light">
                <h2 class="">Hakkımızda</h2>
                <p class="indented-paragraph">
                    2015 yılında kurulan [Şirket Adı], müşteri memnuniyetini öncelik olarak belirleyerek, online alışveriş deneyimini daha kolay ve keyifli hale getirmeyi hedeflemektedir. Moda, elektronik, ev eşyaları gibi geniş bir ürün yelpazesi ile her yaştan ve her zevkteki müşterilerimize hizmet sunuyoruz.
                </p>
                <p class="indented-paragraph">
                    Ekibimiz, sektöründeki en son trendleri takip ederek, yüksek kaliteli ürünleri uygun fiyatlarla sunmayı ilke edinmiştir. Ürünlerimizi, güvenilir tedarikçilerle iş birliği yaparak titizlikle seçiyor, her bir ürünün kalite standartlarını sağlamasına özen gösteriyoruz.
                </p>
                <p class="indented-paragraph">
                    Müşterilerimizin ihtiyaçlarını anlamak ve onlara en iyi hizmeti sunmak için sürekli olarak geri bildirim alıyor, hizmetlerimizi geliştirmek için çalışıyoruz. Güvenli ödeme sistemleri, hızlı kargo ve 7/24 müşteri destek hizmetimizle alışveriş deneyiminizi daha da iyileştiriyoruz.
                </p>
                <p class="indented-paragraph">
                    [Şirket Adı] olarak, sürdürülebilirlik ve sosyal sorumluluk projelerine de önem veriyoruz. Doğaya dost ürünler sunarak, çevremizi korumak için elimizden geleni yapıyoruz. Bizimle birlikte alışveriş yaparak, sadece kendinize değil, geleceğimize de katkıda bulunmuş oluyorsunuz.
                </p>
                <p class="">
                    Bizi tercih ettiğiniz için teşekkür ederiz! Her zaman yanınızdayız.
            </p>           
        </div>
    </div>
</div>