<!-- src/main/resources/templates/pages/contact.html -->
<div th:fragment="contact">
    <div class="container-lg">
        <div class="d-flex flex-column align-items-center border py-4">
            <h2>İletişim Bilgileri</h2>
            <p style="font-size: large;">Bizimle iletişime geçmek için aşağıdaki bilgileri kullanabilirsiniz:</p>
            <div class="contact-info d-flex flex-column align-items-center">
                <p><strong>Adres:</strong> 2394/11 Sokak, Belediye Evleri Mh. Çukurova, Adana</p>
                <p><strong>Telefon:</strong> +90 123 456 7890</p>
                <p><strong>Email:</strong> <a href="mailto:info@example.com">info@example.com</a></p>
            </div>
            <h3>Bizi Sosyal Medyada Takip Edin</h3>
            <div class="social-media d-flex justify-content-center">
                <a href="https://www.facebook.com" target="_blank" class="btn btn-primary mx-1"><i class="fab fa-facebook-square fa-lg"></i></a>
                <a href="https://www.twitter.com" target="_blank" class="btn btn-dark mx-1"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="https://www.x.com" target="_blank" class="btn mx-1" style="background-color: rgb(169, 0, 169); color: white;"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="https://www.x.com" target="_blank" class="btn btn-danger mx-1"><i class="fab fa-youtube fa-lg"></i></a>
            </div>
        </div>
    </div>
</div>