<!-- src/main/resources/templates/pages/products-list.html -->
<div th:fragment="products-list">
    <div class="container-lg">
        <div class="d-flex justify-content-between align-items-between">

            <div class="sidebar border rounded mr-2 bg-light">
                <h5 class="text-center">Kategoriler</h5>
                <ul class="list-group">
                    <div th:each="category : ${categories}">
                        <li class="list-group-item p-1 fs-6 mb-1 text-center" th:text="${category.name}"></li>
                    </div>
                </ul>
            </div>

            <div class="col">
                <div class="row d-flex justify-content-around gap">
                    <div th:each="product : ${products}">
                        <div th:replace="fragments/product-card :: product-card" class="col"></div>
                    </div>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
            <script>
                $(document).ready(function() {
                    var socket = new SockJS('/ws');
                    var stompClient = Stomp.over(socket);

                    stompClient.connect({}, function(frame) {
                        console.log('Connected: ' + frame);
                        stompClient.subscribe('/topic/stockUpdate', function(message) {
                            var updatedProduct = JSON.parse(message.body);
                            var productElement = $('[data-product-id="' + updatedProduct.id + '"]');
                            productElement.find('.product-stock').text('Son ' + updatedProduct.stock + ' adet');
                        });
                    });
                });
            </script>

        </div>
    </div>
</div>