<!-- src/main/resources/templates/pages/products-list.html -->
<div th:fragment="products-list">
    <div class="container-lg">
        <div class="d-flex justify-content-between align-items-between">

            <div class="sidebar border rounded mr-2">
                <h5 class="text-center">Kategoriler</h5>
                <ul class="list-group">
                    <div th:each="category : ${categories}">
                        <li class="list-group-item p-1 fs-6 mb-1 text-center" th:text="${category.name}"></li>
                    </div>
                </ul>
            </div>

            <div class="col">
                <div class="row d-flex justify-content-around gap">
                    <div th:each="product : ${products}">
                        <div th:replace="fragments/product-card :: product-card" class="col"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!--<div class="card">
                        <img th:src="@{${product.image_path}}" alt="Ürün Resmi" class="card-img-top product-image">
                            <div class="card-body">
                                <div class="product-name" th:text="${product.name}">Ürün Adı</div>
                                <div class="product-price" th:text="'₺' + ${product.price}">₺0.00</div>
                                <div class="mt-2 d-flex justify-content-between">
                                    <a th:href="@{/product/{id}(id=${product.id})}" class="btn btn-primary btn-sm">İncele</a>
                                    <button class="btn btn-success btn-sm"><i class="fas fa-shopping-cart"></i></button>
                                </div>
                            </div>
                        </div>-->