<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Ürün Detayı</title>
    <style>
        body {
            background-color: rgb(254, 219, 225);
        }
        .product-image {
            max-width: 400px;
        }
        .card{
            margin-top: 100px;
            display: flex;
            align-items: center;
            gap: 80px;
            flex-direction: row;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <img th:src="@{${product.image_path}}" alt="Ürün Resmi" class="product-image">
            <div class="product-info">
                <h2 th:text="${product.name}">Ürün Adı</h2>
                <h5>Fiyat: <span class="text-success" th:text="'₺' + ${product.price}">₺199.99</span></h5>
                <h5>Stok Durumu: <span class="text-warning" th:text="${product.stock > 0 ? 'Stokta Var' : 'Stokta Yok'}">Stokta Var</span></h5>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-success"><i class="fas fa-shopping-cart"></i></button>
                    <button class="btn btn-primary">İstek Listesine Ekle</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>