<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!-- Fa icon -->
    <script src="https://kit.fontawesome.com/24e6ff7d6f.js" crossorigin="anonymous"></script> <!-- Fa icon -->
    <link rel="stylesheet" th:href="@{/css/product-card.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <title th:text="${title}">Ekmekcibasi.com</title>

    <style>
        .sidebar {
            width: 200px;
            padding: 15px;
        }
        .gap {
            gap: 5px;
        } 
        .page-content{
            padding: 10px;
        }
        .indented-paragraph {
            text-indent: 2em; /* Paragraf başı girintisi */
        }
        .fs-6{
            font-size: small;
        }
    </style>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class='page-content'>
        <div th:replace="('pages/' + ${page}) :: (${page})"></div> <!-- Dinamik olarak fragment dahil ediliyor -->
    </div>  

    <div th:replace="fragments/footer :: footer"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script> <!-- Fa icon -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script> <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> <!-- Bootstrap -->
</body>

</html>